html, body, h1, h2, h3, h4, h5, 
header, section, article, aside,
div, p, ul, ol, li, a, footer, video,
blockquote fieldset, form, 
input, select, textarea, span {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
article,
header,
.contact-bar {
	display: flex;
}
.project,
.contact-bar {
	flex-direction: row;
}
header,
.project,
.dashboard,
header .content,
header .developer-website {
	width: 100%;
}
.project .title,
.project .go-arrow {
	width: 50%;
}
.email-section,
.website-section,
.wordpress-section,
.javascript-section,
header .developer-website {
	font-family: 'Orbitron';
}
.project .go-arrow {
	text-align: right;
}
header {
	flex-direction: column;
	padding: 8px 15px 18px;
	margin-bottom: 20px;
}
header .developer-website:first-child .website,
header .developer-website:first-child .developer {
	-webkit-transform: translateY(15%);
	-moz-transform: translateY(15%);
	transform: translateY(16%);
}
header .developer-website:first-child {
	border-bottom: solid 4px#79d3fd;
}
header .website,
header .developer {
	font-size: 1.8em;
	font-weight: bold;
	color: #000;
}
header .developer-website {
	letter-spacing: .05em;
	font-size: 1.8vmax;
	position: relative;
}
header .developer {
	float: left;
}
header .website {
	float: right;
}
header .title,
.contact-bar {
	position: absolute;
}
header .title {
	font-size: 24px;
	left: 0px;
}
.contact-bar {
	margin-top: 4px;
	right: 0px;
}
.contact-resume {
	padding-right: 12px;
}
.contact-resume a img {
	height: 30px;
	width: 24px;
}
.contact-phone {
	padding-right: 8px;
}
.contact-phone a img {
	height: 30px;
	width: 30px;
}
.contact-email a img {
	height: 30px;
	width: 41px;
}
.dashboard {
	padding: 0 15px 15px;
}
.dashboard a {
	text-decoration: none;
}
.email-section,
.website-section,
.wordpress-section,
.javascript-section {
	margin-bottom: 2px;
	font-size: 25px;
}
.go-to-links a,
.project .go-arrow,
.project .title h3 {
	color: #000;
}
.go-to-links {
	font-family: 'arial';
	font-size: 14px;
	margin-bottom: 15px;
	text-decoration: underline;
}
.project {
	align-items: center;
	border-radius: 5px;
	box-shadow: 2px 1px 8px -4px#323232;
	margin: 0 auto 15px;
	padding: 9px 15px 15px 8px;
	width: 100%;
}
.project.ws,
.project.em {
	transition: border-left .4s linear;
}
.project.ws {
	border-left: solid 5px rgba(140, 215, 249, .55);
}
.project.js {
	border-left: solid 5px rgb(121, 173, 243, .55);
}
.project.wp {
	border-left: solid 5px rgba(41, 140, 215, .55);
}
.project.em {
	border-left: solid 5px rgb(39, 196, 203, .55);
}
.project.ws:hover {
	border-left: solid 5px rgba(140, 215, 249, 1);
}
.project.js:hover {
	border-left: solid 5px rgb(121, 173, 243, 1);
}
.project.wp:hover {
	border-left: solid 5px rgba(41, 140, 215, 1);
}
.project.em:hover {
	border-left: solid 5px rgb(39, 196, 203, 1);
}
.go-to-links a,
.project.ws .go-arrow,
.project.em .go-arrow {
	transition: color .4s linear;
}
.link-divider,
.website-section,
.project.ws:hover .go-arrow,
.go-to-links:hover a.email-link {
	color: rgba(140, 215, 249, 1);
}
.javascript-section,
.project.js:hover .go-arrow,
.go-to-links:hover a.javascript-link {
	color: rgb(121, 173, 243, 1);
}
.wordpress-section,
.project.wp:hover .go-arrow,
.go-to-links:hover a.wordpress-link {
	color: rgba(41, 140, 215, 1);
}
.email-section,
.project.em:hover .go-arrow,
.go-to-links:hover a.website-link {
	color: rgb(39, 169, 197, 1);
}
.email-section,
.website-section,
.project .title h3 {
	letter-spacing: .025em;
}
.project .title,
.project .go-arrow {
	font-family: 'Assistant';
}
.project .title h3,
.project .title p {
	display: block;
}
.project .title {
	width: 70%;
}
.project .title h3 {
	margin-bottom: 2px;
	font-size: 18px;
	font-weight: 700;
}
.project .title p {
	color: #727272;
	font-weight: 500;
	font-size: 15px;
}
.project .go-arrow {
	font-weight: bolder;
	font-size: 30px;
	width: 30%;
}
.mobile-show {
	display: none;
}
.new-banner {
	position: relative;
	overflow: hidden;
}
.new-banner::after {
	background: url('../images/new-banner-blue-level.png') no-repeat 0px 0px transparent;
	background-size: contain;
	content: " ";
	display: block;
	position: absolute;
	width: 52px;
	height: 30px;
	right: 70px;
    top: -1px;
}
@media screen and (max-width: 765px) {
	.project .title h3,
	.header .title {
		font-size: 17px;
	}
	.email-section,
	.website-section,
	.wordpress-section,
	.javascript-section {
		font-size: 22px;
	}
	.contact-resume a img,
	.contact-phone a img,
	.contact-email a img {
		height: 25px;
	}
	.contact-resume a img {
		width: 20px;
	}
	.contact-phone a img {
		width: 25px;
	}
	.contact-email a img {
		width: 37px;
	}
}
@media screen and (max-width: 695px) {
	header {
		flex-direction: column;
		margin-bottom: 4px;
		padding-bottom: 5px;
	}
	header .developer-website {
		text-align: center;
	}
	header .website,
	header .developer {
		display: block;
		float: none;
	}
	header .title,
	header .website {
		transform: none;
	}
	header .developer-website:first-child .website,
	header .developer-website:first-child .developer {
		transform: translateY(15%);
	}
	header .developer {
		padding-bottom: 1px;
		height: 28px;
	}
	header .website {
		font-weight: 400;
		font-size: 1.3em;
		padding-bottom: 8px;
	}
	header .title {
		font-size: 25px;
		font-weight: bold;
		padding-top: 8px;
	}
	header .title,
	.contact-bar {
		position: static;
	}
	header .title {
		left: auto;
	}
	.contact-bar {
		justify-content: center;
		margin-top: 8px;
		right: auto;
	}
	.contact-resume a img,
	.contact-phone a img,
	.contact-email a img {
		height: 25px;
	}
	.contact-resume a img {
		width: 19px;
	}
	.contact-phone a img {
		width: 25px;
	}
	.contact-email a img {
		width: 37px;
	}
	.email-section,
	.website-section,
	.wordpress-section,
	.javascript-section {
		font-size: 18px;
	}
	.project .title h3 {
		font-size: 15px;
	}
	.project .title p {
		font-size: 14px;
	}
	.mobile-show {
		display: inline;
	}
	.mobile-hide {
		display: none;
	}
	.mobile-show {
		display: block;
	}
}
@media screen and (max-width: 435px) {
	.mobile-show {
		display: inline;
	}
	.new-banner::after {
		width: 47px;
		height: 25px;
	}
}